NODE_ENV=development

DATABASE_LOCAL=mongodb://localhost:27017/database
DATABASE=
DATABASE_PASSWORD=

PORT=3000

# JWT
# JWT secret key
JWT_SECRET=sjdkb72386
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=99999
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10
